.nav {
  padding: 20px 0;
  background-color: var(--bg-nav);
}
.nav__wrapper {
  display: flex;
  width: 100%;
  gap: 25px;
}
.link {
  background-color: var(--bg-button);
  padding: 15px 10px;
  border-radius: 10px;
  max-width: 200px;
  width: 100%;
  text-align: center;
}
